<ul class="list-group">
    <li class="list-group-item active" onclick="napTien()">Nạp tiền</li>
    <li class="list-group-item active" onclick="quanLiDanhMuc()">Quản lí danh mục</li>
    <li class="list-group-item active" onclick="quanLiKhoaHoc()">Quản lí Khóa học</li>
    <li class="list-group-item active" onclick="quanLiHSGV()">Quản lí Học sinh và Giáo viên</li>
    <li class="list-group-item" style="cursor: pointer;">Xem danh sách HS và GV</li>
    <li class="list-group-item" style="cursor: pointer;">Thêm Giáo viên</li>
</ul>