<footer class="text-white text-center text-lg-start" style="background-color: #212121;">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">〔 ONLINE ACADEMY 〕</h5>
        <p style="text-align: left; !important">
          - Learn everywhere, everytime, any devices.
          <br>
          - Find the right instructor for you. Any topic, skill level, or language.
          <br>
          - Share Your Knowledge, Make Money. Reach Students Across The Globe.
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">AUTHORS</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-white">Nguyễn Thiện Tâm Đoan</a>
          </li>
          <li>
            <a href="#!" class="text-white">Văn Quốc Duy</a>
          </li>
          <li>
            <a href="#!" class="text-white">Hoàng Công Sơn</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-white">Link 1</a>
          </li>
          <li>
            <a href="#!" class="text-white">Link 2</a>
          </li>
          <li>
            <a href="#!" class="text-white">Link 3</a>
          </li>
          <li>
            <a href="#!" class="text-white">Link 4</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    ĐỒ ÁN CUỐI KÌ MÔN: PHÁT TRIỂN ỨNG DỤNG WEB HCMUS - THẦY: NGÔ NGỌC ĐĂNG KHOA<br>
    ©Copyright: 1712347 - 1712395 - 18120534
  </div>
  <!-- Copyright -->
</footer>
    
