<footer class="text-white text-center text-lg-start" style="background-color: #212121; z-index: 0; margin-top: 250px;">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-6 mb-md-0">
        <h5 class="text-uppercase">〔 ONLINE ACADEMY 〕</h5>
        <p style="text-align: left; !important">
          ➫ Learn everywhere, everytime, any devices.
          <br>
          ➫ Find the right instructor for you. Any topic, skill level, or language.
          <br>
          ➫ Share Your Knowledge, Make Money. Reach Students Across The Globe.
        </p>
      </div>
      <!--Grid column-->
      <div class="col-lg-2 col-md-12 mb-2 mb-md-0"></div>
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">〔 AUTHORS 〕</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="https://www.facebook.com/doan199x/" target="_blank" class="text-white">Nguyễn Thiện Tâm Đoan</a>
          </li>
          <li>
            <a href="https://www.facebook.com/QDV.03/" target="_blank" class="text-white">Văn Quốc Duy</a>
          </li>
          <li>
            <a href="https://www.facebook.com/cong.son.96995" target="_blank" class="text-white">Hoàng Công Sơn</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    ĐỒ ÁN CUỐI KÌ MÔN: PHÁT TRIỂN ỨNG DỤNG WEB HCMUS - THẦY: NGÔ NGỌC ĐĂNG KHOA<br>
    © Copyright: Group 41 ● 1712347 - 1712395 - 18120534 
  </div>
  <!-- Copyright -->
</footer>
    
