<div class="btn-group special" role="group" onload="setActivePage()">
    <button id="activePage" hidden value="{{page}}"></button>
    <a id="btn-profile" class="btn btn-outline-secondary" style="font-weight:bold" href="/student/profile" onmouseover="hoverActive('btn-profile')" onmouseout="setActivePage()">Hồ sơ</a>
    <a id="btn-watch-list" class="btn btn-outline-secondary" style="font-weight:bold" href="/student/watch-list" onmouseover="hoverActive('btn-watch-list')" onmouseout="setActivePage()">Khóa
        học yêu thích</a>
    <a id="btn-course-list" class="btn btn-outline-secondary" style="font-weight:bold" href="/student/course-list"onmouseover="hoverActive('btn-course-list')" onmouseout="setActivePage()">Khóa
        học đã đăng ký</a>
</div>