<ul class="list-group">
    <li onclick="toiDanhSachKhoaHoc()" class="list-group-item active"><i class="fa fa-list" aria-hidden="true"></i>
       Danh sách khóa học</li>
    <li onclick="toiThemKhoaHoc()" class="list-group-item active"><i class="fa fa-plus" aria-hidden="true"></i>
        Thêm khóa học</li>
</ul>
    