.course__detail {
  display: grid;
  grid-template-columns: 70% 30%;
  column-gap: 0%;
  padding: 2%;
}
.detail__line {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info__column {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 2%;
}
.stars-div {
  justify-content: center;
}
.course__name {
  text-align: center;
  background-color: black;
  color: white;
}
.detail__column {
  width: 85%;
}
.related{
text-align: center;
padding: 2%;
}
.course__button {
  background-color: black;
  margin-top: 1%;
  width: 10%;
  margin-left: 40%;
  color: white;
}
.card__detail {
  /* column-gap: 0.7rem;
  /display: grid;
  grid-template-columns: auto auto auto auto auto; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.feedback {
  display: flex;
  flex-direction: column;
}
.feedback__cards {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
}
.feedback__email{
color: #002171;
text-decoration: bold;
}
.nofeedback{
text-align:center;
padding-bottom: 5%;
padding-top: 5%;
}