.course__detail {
  display: grid;
  grid-template-columns: 70% 30%;
  column-gap: 0%;
  padding: 2%;
}
.detail__line {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info__column {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 2%;
}
.stars-div {
justify-content: center;
}
.course__name {
  text-align: center;
  background-color: black;
  color: white;
}
.detail__column {
  width: 85%;

}
h5{
    text-decoration:solid;
}
.course__button{
    background-color: black;
    margin-top: 1%;
    width: 10%;
    margin-left: 40%;
    color: white;
}