.container{
    padding-top: 10px;
}
.top{
   text-align: center;
}
.carousel-caption{
background-color: black;
opacity: 80%;
}
.intro{
    text-align: center;
    padding: 50px;
}
.topview{
padding-top:10px;
display: grid;
grid-column-gap: 20px;
grid-template-columns: auto auto auto auto auto;
padding-left: 20px;
}
.card-custom{
    margin-bottom:20px; 
    width: 250px;
    height: auto;
}
.card-title{
    font-weight: bold;
    text-align: center;
}
.card-img-top{
    border-bottom:1px solid black;
}
.title{
padding-top: 50px;
padding-bottom: 50px;
text-align: center;
font-weight: bold;
}
.divider{
border-top: 1px solid #bbb;
}