<div class="container">
    <br>
    <div class="row">
        <div class="col-lg-4">
            {{>teacher-nav}}
        </div>
        <textarea id="default">Hello, World!</textarea>
        <div class="col-lg-8">
            <form method="POST" action="/teacher/add-course" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-lg-12">
                        <fieldset>
                            <div class="form-group row">
                                <label for="courseName" class="col-sm-3 col-form-label">Tên khóa học</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="courseName" name="courseName" value=""
                                        required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="courseImage" class="col-sm-3 col-form-label">Nhập imagePath khóa học</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="courseImage" name="courseImage" value=""
                                        required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="courseSortDes" class="col-sm-3 col-form-label">Nhập mô tả ngắn</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="courseSortDes" name="courseSortDes"
                                        value="" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="courseDes" class="col-sm-3 col-form-label">Nhập mô tả chi tiết</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="courseDes" name="courseDes" value=""
                                        required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="coursePrice" class="col-sm-3 col-form-label">Nhập giá</label>
                                <div class="col-sm-9">
                                    <input type="number" class="form-control" id="coursePrice" name="coursePrice"
                                        value="" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="courseCategoryID" class="col-sm-3 col-form-label">Nhập categoryID</label>
                                <div class="col-sm-9">
                                    <input type="number" class="form-control" id="courseCategoryID"
                                        name="courseCategoryID" value="" required>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="btn-width-custom-small">
                                    <a class="btn btn-secondary btn-block bold" href="/teacher">Thoát</a>
                                </div>
                                <div class="btn-width-custom-small">
                                    <button type="submit" class="btn btn-secondary btn-block bold">THÊM KHÓA
                                        HỌC</button>
                                </div>
                            </div>
                        </fieldset>
                        <br>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br>
</div>

<script>
    tinymce.init({
        selector: 'textarea#default'
    });
</script>