<div class="signup">
    <div class="image">
        <img style=" height: 500px;" src="/img/form/form.svg" alt="">
    </div>
   
       <div class="signup_form">
            <div class="form-group">
            <h5>SIGN UP</h5>
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" id = "email"  name = "email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group2">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" id = "password" name = "password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
           <div class="form-group">
            <label for="exampleInputPassword2">Confirm password</label>
            <input type="password" id = "confirmpassword"name = "confirmpassword"class="form-control" id="exampleInputPassword1" placeholder="Confirm password">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Receive email 💌</label>
        </div>
        <button type="submit" class="btn btn-primary" onclick = "signup()" >Submit</button>
 
       </div>
</div>