<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Academy</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300&display=swap" rel="stylesheet">    <link rel="stylesheet" href="/css/lib/bootstrap4.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/profile-header.css">
    <link rel="stylesheet" href="/css/header.css">
    {{#css}}
    <link rel="stylesheet" href="/css/{{this}}.css">
    {{/css}}
    <link rel="stylesheet" href="/css/lib/plyr.css" />
    {{!-- font-awesome --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    {{!-- ho
    <link rel="stylesheet" href="/css/lib/all.min.css" /> --}}

</head>

<body style="font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;">
    {{>header}}
    {{>(partial contain)}}
    {{>footer}}
</body>
<script src="/js/main.js"></script>
<script src="/js/lib/jquery-3.5.1.js"></script>
<script src="/js/lib/popper.min.js"></script>
{{!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js"></script> --}}
<script src="/js/lib/bootstrap4.min.js"></script>
<script src="/js/lib/plyr.polyfilled.js"></script>
{{!--
<script src="https://cdn.plyr.io/3.6.3/plyr.polyfilled.js"></script> --}}
<script src="/js/lib/sweetalert2@10.js"></script>
{{#js}}
<script src="/js/{{this}}.js"></script>
{{/js}}

<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>tinymce.init({selector:'textarea#addSortDescription'});</script>
<script>tinymce.init({selector:'textarea#addDescription'});</script>
</html>