<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Academy</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/lib/bootstrap4.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/profile-header.css">
    {{#css}}
    <link rel="stylesheet" href="/css/{{this}}.css">
    {{/css}}
    <link rel="stylesheet" href="/css/lib/plyr.css" />
    {{!-- font-awesome --}}
    {{!-- <link rel="stylesheet" href="/css/lib/all.min.css" /> --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />

</head>

<body style="font-family: 'Quicksand', sans-serif;">
    {{>header}}
    {{>(partial contain)}}
    {{>footer}}
</body>
    <script src="/js/lib/jquery-3.5.1.js"></script>
    <script src="/js/lib/popper.min.js"></script>
    <script src="/js/lib/bootstrap4.min.js"></script>
    <script src="/js/lib/plyr.polyfilled.js"></script>
    {{!-- <script src="https://cdn.plyr.io/3.6.3/plyr.polyfilled.js"></script> --}}
    <script src="/js/lib/sweetalert2@10.js"></script>
    {{#js}}
    <script src="/js/{{this}}.js"></script>
    {{/js}}

</html>